body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 0;
    background-color: #fffaf2;
    color: #444;
}
header {
    background-color: #d4af37;
    color: white;
    padding: 20px;
}
section {
    margin: 30px auto;
    max-width: 600px;
}
.rate-box {
    border: 2px solid #d4af37;
    padding: 15px;
    border-radius: 10px;
    background: #fff8e6;
}
footer {
    background-color: #333;
    color: white;
    padding: 15px 0;
    margin-top: 40px;
}
